*{
    background-color: rgb(233, 146, 48);
}

h1{
    font-family: georgia, serif;
    color: rgb(238, 241, 38);
    text-align: center;
}

a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.links{
    text-align: center;
}

.ingr{
    font-family: garamond, serif;
    color: rgb(87, 87, 87);
}
